</div><!-- ./wrapper -->
<!-- jQuery 2.0.2 -->
<script src="http://cdn.bootcss.com/jquery/2.0.2/jquery.min.js"></script>

<script src="/adminlte/js/jquery-ui-1.10.3.min.js"></script>

<script src="/adminlte/js/bootstrap.min.js"></script>

<script src="/angular/angular.min.js"></script>
</body>
</html>